@import "./variable";

//모바일: 최소 "모바일" 사이즈부터 ~최대 "모바일에서 태블릿" 사이즈까지 @mixin mobile {
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

// 모바일에서 태블릿
@include mobile {
  .tablet {
    display: none !important;
  }
  .moblie {
    display: block !important;
  }
  .intro {
    .intro_title {
      color: var(--color-white);
      position: relative;
      z-index: 1;
      span {
        display: block;
        margin-bottom: 8px;
        p {
          font-size: 18px !important;
          font-weight: 500;
          letter-spacing: -1.5px;
        }
      }
      h1 {
        font-size: 68px !important;
        font-weight: 900;
        letter-spacing: -2px;
        text-shadow: 4px 10px 14px rgba(0, 0, 0, 0.15);
      }
      .intro_sub_title {
        padding: 14px 0;
        line-height: 22px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .point_list {
    ul {
      li {
        flex-direction: column;
        width: 100% !important;
        padding: 18px !important;
      }
    }
  }
  .shop_point {
    ul {
      li {
        width: calc(100%) !important;
      }
    }
  }
  .premium {
    .section_text_wrap {
      .keyword_bage {
        display: inline-block;
        line-height: 38px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 50px;
        margin-bottom: 14px;
        font-weight: 500;
      }
      .section_title {
        margin-bottom: 8px;
        font-size: 30px;
        padding: 0 12px;
        p {
          letter-spacing: -1.5px;
          font-weight: 100;
          margin-bottom: 8px;
          &:last-child {
            font-weight: 700;
          }
        }
      }
    }
    .premium_item_list {
      padding: 0 12px;
      ul {
        li {
          img {
            height: 240px !important;
          }
        }
      }
    }
  }
  .list_tab_button {
    ul {
      li {
        width: calc(100% / 2 - 6px) !important;
        padding: 16px !important;
      }
    }
  }
}
