@charset "UTF-8";
@media (min-width: 320px) and (max-width: 768px) {
  .tablet {
    display: none !important;
  }
  .moblie {
    display: block !important;
  }
  .intro .intro_title {
    color: var(--color-white);
    position: relative;
    z-index: 1;
  }
  .intro .intro_title span {
    display: block;
    margin-bottom: 8px;
  }
  .intro .intro_title span p {
    font-size: 18px !important;
    font-weight: 500;
    letter-spacing: -1.5px;
  }
  .intro .intro_title h1 {
    font-size: 68px !important;
    line-height: 74px !important;
    font-weight: 900;
    letter-spacing: -2px;
    text-shadow: 4px 10px 14px rgba(0, 0, 0, 0.15);
  }
  .intro .intro_title .intro_sub_title {
    padding: 14px 0;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
  }
  .point_list ul li {
    flex-direction: column;
    width: 100% !important;
    padding: 18px !important;
  }
  .shop_point ul li {
    width: 100% !important;
  }
  .premium .section_text_wrap .keyword_bage {
    display: inline-block;
    line-height: 38px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 50px;
    margin-bottom: 14px;
    font-weight: 500;
  }
  .premium .section_text_wrap .section_title {
    margin-bottom: 8px;
    font-size: 30px;
    padding: 0 12px;
  }
  .premium .section_text_wrap .section_title p {
    letter-spacing: -1.5px;
    font-weight: 100;
    margin-bottom: 8px;
  }
  .premium .section_text_wrap .section_title p:last-child {
    font-weight: 700;
  }
  .premium .premium_item_list {
    padding: 0 12px;
  }
  .premium .premium_item_list ul li img {
    height: 240px !important;
  }
  .list_tab_button ul li {
    width: calc(50% - 6px) !important;
    padding: 16px !important;
  }
}
/*텍스트 컬러 관련 클래스 */
.keyword_bage {
  background-color: var(--bg-color-blue);
}
.keyword_bage p {
  color: var(--color-white);
}

.section_title {
  font-size: 38px;
}

.t_color {
  color: var(--color-point);
}

#wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#inner {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  position: relative;
  background-color: var(--bg-color-inter);
  width: 100%;
  height: 520px;
}
.intro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(./img/intro_bg.png);
  opacity: 0.125;
  width: 100%;
  height: 520px;
}
.intro #inner {
  padding-top: 80px;
}
.intro .left_icon {
  position: absolute;
  left: -18px;
  top: 0;
  width: 100px;
}
.intro .intro_title {
  color: var(--color-white);
  position: relative;
  z-index: 1;
}
.intro .intro_title span {
  display: block;
  margin-bottom: 8px;
}
.intro .intro_title span p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1.5px;
}
.intro .intro_title h1 {
  font-size: 74px;
  line-height: 80px;
  font-weight: 900;
  letter-spacing: -2px;
  text-shadow: 4px 10px 14px rgba(0, 0, 0, 0.15);
}
.intro .intro_title .intro_sub_title {
  padding: 14px 0;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
}
.intro .right_icon {
  position: absolute;
  right: 0;
  bottom: -14px;
  width: 120px;
}
.intro .scroll_event {
  position: relative;
  z-index: 1;
  margin-top: 4px;
}
.intro .scroll_event .scroll_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .scroll_event .scroll_arrow span {
  position: absolute;
  width: 20px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.intro .scroll_event .scroll_arrow span:first-child {
  animation: move 3s ease-out 1s infinite;
}
.intro .scroll_event .scroll_arrow span:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.intro .scroll_event .scroll_arrow span:before, .intro .scroll_event .scroll_arrow span:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}
.intro .scroll_event .scroll_arrow span:before {
  left: 0;
  transform: skew(0deg, 38deg);
}
.intro .scroll_event .scroll_arrow span:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -38deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(34px);
  }
  67% {
    opacity: 1;
    transform: translateY(48px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.intro .scroll_event p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 68px;
  font-size: 16px;
  font-weight: 500;
}

.container {
  background-color: #fbfbfb;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  margin-top: -6vh;
}
.container #inner {
  max-width: 1200px;
}
.container .point_list {
  padding: 18px;
}
.container .point_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.container .point_list ul li {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: calc(50% - 3px);
  background-color: var(--bg-color-white);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 32px;
  color: var(--color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01), 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01), 0 8px 16px rgba(0, 0, 0, 0.01), 0 16px 32px rgba(0, 0, 0, 0.01), 0 32px 64px rgba(0, 0, 0, 0.01);
}
.container .point_list ul li span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  display: block;
  text-align: left;
}
.container .point_list ul li p {
  color: var(--color-gray);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 8px;
}
.container .point_list ul li p span {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
}
.container .limousine {
  padding-top: 48px;
}
.container .limousine .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .limousine .keyword_bage p {
  font-weight: 500;
  letter-spacing: -0.25px;
}
.container .limousine .section_title {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  justify-content: center;
  margin-bottom: 8px;
}
.container .limousine .section_title p {
  letter-spacing: -1.25px;
  font-weight: 100;
}
.container .limousine .section_title p:last-child {
  font-weight: 700;
}
.container .limousine .section_desc {
  line-height: 22px;
  letter-spacing: -0.5px;
  padding: 12px 0;
}
.container .limousine .section_desc p {
  font-size: 16px;
}
.container .limousine .section_desc .t_color {
  font-weight: 700;
}
.container .limousine .section_img_box {
  margin-top: 32px;
  padding: 0 12px;
}
.container .limousine .section_img_box .section_img_desc {
  padding: 12px 0;
}
.container .limousine .section_img_box .section_img_desc span {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: -0.25px;
}
.container .limousine .section_img_box .section_img_desc span p {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}
.container .limousine .section_img_box .section_img_desc span p:last-child {
  font-weight: 700;
}
.container .limousine .section_img_box .section_img_desc span:last-child {
  text-align: left;
}
.container .limousine .section_img_box .section_img_desc span:last-child p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-gray);
  word-break: break-all;
}
.container .service {
  padding-top: 48px;
}
.container .service .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .service .keyword_bage p {
  font-weight: 500;
  letter-spacing: -0.25px;
}
.container .service .section_title {
  margin-bottom: 8px;
  font-size: 30px;
}
.container .service .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .service .section_title p:last-child {
  font-weight: 700;
}
.container .service .service_tab_wrap.moblie {
  display: none;
}
.container .service .service_tab_wrap.tablet {
  display: block;
  margin-top: 12px;
}
.container .service .service_tab_wrap .tabs {
  display: flex;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin: 24px 0;
}
.container .service .service_tab_wrap .tabs .tab-button {
  display: inline-block;
  padding: 10px 14px;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--color-white);
  border: 1px solid var(--border-color);
  font-weight: 500;
  border-radius: 8px;
  color: var(--color-default);
}
.container .service .service_tab_wrap .tabs .tab-button.active {
  color: var(--color-white);
  background-color: var(--bg-color-blue);
  border: 1px solid var(--bg-color-blue);
}
.container .service .service_tab_wrap .tabs .tab-button.active::after {
  display: block;
}
.container .service .service_tab_wrap .tab_contents {
  padding: 0 12px;
}
.container .service .service_tab_wrap .tab_contents .content {
  display: none;
}
.container .service .service_tab_wrap .tab_contents .content.active {
  display: block;
}
.container .service .service_tab_wrap .tab_contents .content ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  border-top: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tab_contents .content ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  font-size: 15px;
}
.container .service .service_tab_wrap .tab_contents .content ul li:last-child {
  border-bottom: none;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_bold {
  color: var(--color-table);
  background-color: var(--bg-color-table-gray);
  border-right: 1px solid var(--border-color);
  width: 35%;
  text-align: left;
  padding: 18px;
  height: 100%;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_bold p {
  font-weight: 500;
  line-height: 24px;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal {
  text-align: left;
  width: 65%;
  height: 100%;
  padding: 18px;
  background-color: var(--bg-color-white);
  word-break: break-all;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two {
  padding: 0 !important;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two ul {
  border-top: none;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two ul li {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two ul li:last-child {
  border-bottom: none;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two ul li p {
  padding: 18px;
  background-color: var(--bg-color-table-gray);
  color: var(--color-gray);
  white-space: nowrap;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal.two ul li p:last-child {
  background-color: var(--bg-color-white);
  color: var(--color-default);
  padding: 18px 12px;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal p {
  font-weight: 500;
  line-height: 24px;
}
.container .service .service_tab_wrap .tab_contents .content ul li .table_nomal p .warning {
  color: var(--color-warning);
  font-weight: 700;
}
.container .service .service_tab_wrap .tablet_contents {
  display: flex;
  margin-top: 60px;
  padding: 0 12px;
}
.container .service .service_tab_wrap .tablet_contents #content-basic .prod_name {
  background-color: var(--bg-color-blue);
}
.container .service .service_tab_wrap .tablet_contents #content-standard {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tablet_contents #content-standard .prod_name {
  background-color: var(--bg-color-gray);
}
.container .service .service_tab_wrap .tablet_contents #content-premium .prod_name {
  background-color: var(--bg-color-navy);
}
.container .service .service_tab_wrap .tablet_contents .content .prod_name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
}
.container .service .service_tab_wrap .tablet_contents .content .prod_name p {
  font-weight: 500;
  color: var(--color-white);
}
.container .service .service_tab_wrap .tablet_contents .content ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  border-top: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tablet_contents .content ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  font-size: 15px;
}
.container .service .service_tab_wrap .tablet_contents .content ul li:first-child {
  border-bottom: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tablet_contents .content ul li:last-child {
  border-bottom: none;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_bold {
  color: var(--color-table);
  background-color: var(--bg-color-table-gray);
  border-right: 1px solid var(--border-color);
  width: 30%;
  text-align: left;
  padding: 18px;
  height: 100%;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_bold p {
  font-weight: 500;
  line-height: 24px;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal {
  text-align: left;
  width: 70%;
  padding: 18px;
  height: 100%;
  background-color: var(--bg-color-white);
  word-break: break-all;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two {
  padding: 0 !important;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two ul {
  border-top: none;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two ul li {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid var(--border-color);
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two ul li:last-child {
  border-bottom: none;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two ul li p {
  padding: 18px;
  background-color: var(--bg-color-table-gray);
  color: var(--color-gray);
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal.two ul li p:last-child {
  background-color: var(--bg-color-white);
  color: var(--color-default);
  padding: 18px 12px;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal p {
  font-weight: 500;
  line-height: 24px;
}
.container .service .service_tab_wrap .tablet_contents .content ul li .table_nomal p .warning {
  color: var(--color-warning);
  font-weight: 700;
}
.container .ad_banner {
  width: 100%;
  background-color: var(--bg-color-blue);
}
.container .ad_banner #inner {
  padding: 0 12px;
}
.container .ad_banner #inner .ad_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.container .ad_banner #inner .ad_desc .font_gm {
  font-family: "GmarketSans" !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin-bottom: 12px;
}
.container .ad_banner #inner .ad_desc p {
  font-weight: 500;
  font-size: 15px;
  color: var(--color-white);
  text-align: right;
  line-height: 18px;
}
.container .ad_banner #inner .ad_desc p:last-child {
  font-size: 24px;
  font-weight: 700;
  margin-top: 6px;
}
.container .ad_banner.text-center #inner {
  padding: 0 12px;
}
.container .ad_banner.text-center #inner .ad_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .ad_banner.text-center #inner .ad_desc {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.container .ad_banner.text-center #inner .ad_desc p {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  text-align: center;
}
.container .ad_banner.text-center #inner .ad_desc p:last-child {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0px;
}
.container .story {
  padding: 24px 0;
}
.container .story .section_text_wrap .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .story .section_text_wrap .section_title {
  margin-bottom: 8px;
  font-size: 30px;
  padding: 0 12px;
}
.container .story .section_text_wrap .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .story .section_text_wrap .section_title p:last-child {
  font-weight: 700;
}
.container .story .story_container {
  padding: 36px 12px;
}
.container .story .story_container .story_desc {
  display: block;
  padding: 18px;
  background-color: var(--bg-color-default);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
}
.container .story .story_container .mb-12 {
  margin-bottom: 12px;
}
.container .story .story_container .about_section {
  padding-top: 48px;
}
.container .story .story_container .about_section .section_title {
  line-height: 32px;
  font-size: 30px;
  padding: 0 12px 24px 12px;
}
.container .story .story_container .about_section .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .story .story_container .about_section .section_title p:last-child {
  font-weight: 700;
}
.container .story .story_container .about_list .boram {
  margin-bottom: 24px;
}
.container .story .story_container .about_list .about_desc {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray);
}
.container .story .story_container .about_list .about_desc p {
  word-break: keep-all;
  letter-spacing: -0.5px;
  line-height: 22px;
  font-size: 15px;
}
.container .story .story_container .about_list .about_desc .t_color {
  font-weight: 700;
}
.container .story .story_container .about_list .about_desc .about_desc_title {
  color: var(--color-default);
  padding: 12px 0;
  line-height: 40px;
}
.container .story .story_container .about_list .about_desc .about_desc_title p {
  font-size: 20px;
  font-weight: 100;
}
.container .story .story_container .about_list .about_desc .about_desc_title h4 {
  font-weight: 700;
  font-size: 28px;
}
.container .story .story_container .about_list .about_desc .about_desc_sub_title {
  letter-spacing: -0.5px;
  padding: 12px 0 8px 0;
}
.container .story .story_container .about_list .about_desc .about_desc_sub_title h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-default);
}
.container .story .story_container .history {
  text-align: left;
}
.container .story .story_container .history li {
  line-height: 24px;
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
}
.container .story .story_container .history li:last-child {
  border-bottom: 1px solid var(--border-color);
}
.container .story .story_container .history li h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.container .story .story_container .history li p {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.container .story .story_container .history li .sub_company {
  padding-top: 18px;
}
.container .story .story_container .history li .sub_company span {
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
  font-size: 16px;
}
.container .story .story_container .history li .sub_company p {
  color: var(--color-gray);
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5px;
  font-size: 16px;
}
.container .story .story_container .history li .car_list ul li {
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-gray);
}
.container .premium .section_text_wrap .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .premium .section_text_wrap .section_title {
  margin-bottom: 8px;
  font-size: 30px;
  padding: 0 12px;
}
.container .premium .section_text_wrap .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .premium .section_text_wrap .section_title p:last-child {
  font-weight: 700;
}
.container .premium .premium_item_list {
  padding: 0 12px;
}
.container .premium .premium_item_list ul {
  padding: 24px 0;
}
.container .premium .premium_item_list ul li {
  margin-bottom: 16px;
}
.container .premium .premium_item_list ul li img {
  height: 420px;
}
.container .premium .premium_item_list ul li .item_desc {
  text-align: left;
  padding: 14px 0 24px 0;
  letter-spacing: -1px;
}
.container .premium .premium_item_list ul li .item_desc h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.container .premium .premium_item_list ul li .item_desc p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.container .funeral_list {
  padding: 60px 0 0 0;
}
.container .funeral_list .section_text_wrap .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .funeral_list .section_text_wrap .section_title {
  margin-bottom: 8px;
  font-size: 30px;
  padding: 0 12px;
}
.container .funeral_list .section_text_wrap .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .funeral_list .section_text_wrap .section_title p:last-child {
  font-weight: 700;
}
.container .funeral_list .section_text_wrap .section_desc {
  line-height: 22px;
  letter-spacing: -0.5px;
  padding: 12px 0;
}
.container .funeral_list .section_text_wrap .section_desc p {
  font-size: 16px;
}
.container .funeral_list .section_text_wrap .section_desc .t_color {
  font-weight: 700;
}
.container .funeral_list .list_tab_button {
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--bg-color-table-gray);
}
.container .funeral_list .list_tab_button ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 14px;
  -ms-overflow-style: none;
  margin-bottom: 12px;
}
.container .funeral_list .list_tab_button ul::-webkit-scrollbar {
  display: none;
}
.container .funeral_list .list_tab_button ul li {
  display: inline-block;
  width: calc(16.6666666667% - 6px);
  font-weight: 500;
  padding: 14px;
  text-align: left;
  letter-spacing: -0.5px;
  font-size: 16px;
  color: var(--color-default);
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  line-height: 20px;
}
.container .funeral_list .list_tab_button ul li.active {
  color: var(--color-white);
  background-color: var(--bg-color-blue);
  border: 1px solid var(--border-blue);
}
.container .funeral_list .list_tab_button ul li.active::after {
  display: block;
}
.container .funeral_list .item_list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px;
}
.container .funeral_list .item_list .item {
  width: 100%;
  display: none;
}
.container .funeral_list .item_list .item.active {
  display: block;
}
.container .funeral_list .item_list .item .item_desc {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  height: 80px;
}
.container .funeral_list .item_list .item .item_desc .number_icon {
  background-color: var(--bg-color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 10px;
  border-radius: 6px;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
}
.container .funeral_list .item_list .item .item_desc span {
  line-height: 20px;
  display: block;
}
.container .funeral_list .item_list .item .item_desc span h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}
.container .funeral_list .item_list .item .item_desc span p {
  color: var(--color-gray);
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.container .funeral_list .item_list .item ul {
  display: flex;
  overflow-x: scroll;
  margin-top: 0;
  flex-wrap: nowrap;
}
.container .funeral_list .item_list .item ul li {
  padding: 0;
  width: 100%;
}
.container .funeral_list .item_list .item ul li img {
  width: 100%;
  min-width: 380px;
  height: 280px;
}
.container .funeral_list .item_list .item .number_wrap {
  background-color: var(--bg-color-blue);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.container .funeral_list .item_list .item .number_wrap .number_icon {
  background-color: var(--bg-color-white);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .funeral_list .item_list .item .number_wrap .number {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 8px 0;
  font-size: 20px;
}
.container .funeral_list .item_list .item .number_wrap .number p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}
.container .funeral_list .item_list ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}
.container .funeral_list .item_list ul li {
  width: 100%;
  padding: 18px 24px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.5px;
}
.container .boram_shop {
  padding-top: 60px;
}
.container .boram_shop .section_text_wrap .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 50px;
  margin-bottom: 14px;
  font-weight: 500;
}
.container .boram_shop .section_text_wrap .section_title {
  margin-bottom: 8px;
  font-size: 30px;
  padding: 0 12px;
}
.container .boram_shop .section_text_wrap .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.container .boram_shop .section_text_wrap .section_title p:last-child {
  font-weight: 700;
}
.container .boram_shop .section_text_wrap .section_desc {
  line-height: 22px;
  letter-spacing: -0.5px;
  padding: 12px 0;
}
.container .boram_shop .section_text_wrap .section_desc p {
  font-size: 16px;
}
.container .boram_shop .section_text_wrap .section_desc .t_color {
  font-weight: 700;
}
.container .boram_shop .shop_point {
  padding: 32px 24px;
}
.container .boram_shop .shop_point ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .boram_shop .shop_point ul li {
  width: 50%;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
}
.container .boram_shop .shop_point ul li:first-child {
  border-top: none;
}
.container .boram_shop .shop_point ul li .shop_icon {
  width: 24px;
  height: 24px;
}
.container .boram_shop .shop_point ul li .shop_desc {
  text-align: left;
  color: var(--color-default);
}
.container .boram_shop .shop_point ul li .shop_desc span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
  white-space: nowrap;
}
.container .boram_shop .shop_point ul li .shop_desc p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-gray);
  word-break: keep-all;
}
.container .boram_shop .shop_service {
  width: 100%;
  text-align: left;
  padding: 48px 24px;
  background-color: var(--bg-color-blue);
  color: var(--color-white);
}
.container .boram_shop .shop_service span {
  margin-bottom: 12px;
  display: block;
  font-weight: 500;
}
.container .boram_shop .shop_service .shop_title {
  font-weight: 300;
}
.container .boram_shop .shop_service .shop_title p {
  font-size: 18px;
}
.container .boram_shop .shop_service .shop_title p:last-child {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}
.container .boram_shop .shop_service ul li {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}
.container .boram_shop .shop_service ul li:last-child {
  border-bottom: none;
}
.container .boram_shop .shop_service ul li p {
  width: 30%;
  line-height: 24px;
  word-break: keep-all;
  font-size: 16px;
  font-weight: 700;
}
.container .boram_shop .shop_service ul li p:last-child {
  width: 100%;
  font-weight: 500;
}
.container .ad_banner.dark {
  background-color: var(--bg-color-table-gray);
}
.container .ad_banner.dark .ad_desc p {
  color: var(--color-default) !important;
  font-weight: 700 !important;
}/*# sourceMappingURL=style.css.map */