@charset "UTF-8";
/*텍스트 컬러 관련 클래스 */
.keyword_bage {
  background-color: var(--bg-color-blue);
}
.keyword_bage p {
  color: var(--color-white);
}

.section_title {
  font-size: 38px;
}

.t_color {
  color: var(--color-point);
}

#wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#inner {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  position: relative;
  background-color: var(--bg-color-inter);
  width: 100%;
  height: 80vh;
}
.intro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/img/intro_bg.png);
  opacity: 0.1;
  width: 100%;
  height: 80vh;
}
.intro #inner {
  padding-top: 80px;
}
.intro .left_icon {
  position: absolute;
  left: -18px;
  top: 0;
  width: 100px;
}
.intro .intro_title {
  color: var(--color-white);
  position: relative;
  z-index: 1;
}
.intro .intro_title span {
  display: block;
  margin-bottom: 8px;
}
.intro .intro_title span p {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -1.65px;
}
.intro .intro_title h1 {
  font-size: 78px;
  line-height: 84px;
  font-weight: 900;
  letter-spacing: -2px;
  text-shadow: 4px 10px 14px rgba(0, 0, 0, 0.15);
}
.intro .right_icon {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 120px;
}
.intro .scroll_event {
  position: relative;
  z-index: 1;
  margin-top: 14px;
}
.intro .scroll_event .scroll_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .scroll_event .scroll_arrow span {
  position: absolute;
  width: 20px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.intro .scroll_event .scroll_arrow span:first-child {
  animation: move 3s ease-out 1s infinite;
}
.intro .scroll_event .scroll_arrow span:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.intro .scroll_event .scroll_arrow span:before, .intro .scroll_event .scroll_arrow span:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}
.intro .scroll_event .scroll_arrow span:before {
  left: 0;
  transform: skew(0deg, 38deg);
}
.intro .scroll_event .scroll_arrow span:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -38deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(34px);
  }
  67% {
    opacity: 1;
    transform: translateY(48px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.intro .scroll_event p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 68px;
  font-size: 16px;
  font-weight: 500;
}

.contaniner {
  background-color: #fbfbfb;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  margin-top: -18vh;
}
.contaniner #inner {
  max-width: 1024px;
}
.contaniner .point_list {
  padding: 18px;
}
.contaniner .point_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.contaniner .point_list ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 3px);
  background-color: var(--bg-color-white);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 32px;
  color: var(--color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01), 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01), 0 8px 16px rgba(0, 0, 0, 0.01), 0 16px 32px rgba(0, 0, 0, 0.01), 0 32px 64px rgba(0, 0, 0, 0.01);
}
.contaniner .point_list ul li span {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
  display: block;
  white-space: nowrap;
}
.contaniner .point_list ul li p {
  color: var(--color-gray);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 12px;
  width: 120px;
}
.contaniner .limousine {
  padding-top: 48px;
}
.contaniner .limousine .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 14px;
}
.contaniner .limousine .keyword_bage p {
  font-weight: 500;
  letter-spacing: -0.25px;
}
.contaniner .limousine .section_title {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  justify-content: center;
  margin-bottom: 8px;
}
.contaniner .limousine .section_title p {
  letter-spacing: -1.25px;
  font-weight: 100;
}
.contaniner .limousine .section_title p:last-child {
  font-weight: 700;
}
.contaniner .limousine .section_desc {
  line-height: 22px;
}
.contaniner .limousine .section_desc p {
  font-size: 16px;
}
.contaniner .limousine .section_desc .t_color {
  font-weight: 700;
}
.contaniner .limousine .section_img_box {
  margin-top: 32px;
  padding: 0 22px;
}
.contaniner .limousine .section_img_box .section_img_desc {
  padding: 12px 0;
}
.contaniner .limousine .section_img_box .section_img_desc span {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  letter-spacing: -0.25px;
}
.contaniner .limousine .section_img_box .section_img_desc span p {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
}
.contaniner .limousine .section_img_box .section_img_desc span p:last-child {
  font-weight: 700;
}
.contaniner .limousine .section_img_box .section_img_desc span:last-child {
  text-align: left;
}
.contaniner .limousine .section_img_box .section_img_desc span:last-child p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-gray);
}
.contaniner .service {
  padding: 48px 0;
}
.contaniner .service .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 14px;
}
.contaniner .service .keyword_bage p {
  font-weight: 500;
  letter-spacing: -0.25px;
}
.contaniner .service .section_title {
  margin-bottom: 8px;
  font-size: 30px;
}
.contaniner .service .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.contaniner .service .section_title p:last-child {
  font-weight: 700;
}
.contaniner .service .service_tab_wrap .tabs {
  display: flex;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 24px 0;
}
.contaniner .service .service_tab_wrap .tabs .tab-button {
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;
  color: var(--color-gray);
}
.contaniner .service .service_tab_wrap .tabs .tab-button::after {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color-default);
  height: 2px;
  position: absolute;
  display: none;
}
.contaniner .service .service_tab_wrap .tabs .tab-button.active {
  font-weight: 700;
  color: var(--color-default);
}
.contaniner .service .service_tab_wrap .tabs .tab-button.active::after {
  display: block;
}
.contaniner .service .service_tab_wrap .tab_contents {
  padding: 0 12px;
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info {
  padding: 24px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info.basic {
  background-color: var(--bg-color-blue);
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info.standard {
  background-color: var(--bg-color-gray);
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info.premium {
  background-color: var(--bg-color-navy);
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info div {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info p {
  color: var(--bg-color-white);
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 16px;
}
.contaniner .service .service_tab_wrap .tab_contents .tab_page_info p:last-child {
  font-weight: 500;
}
.contaniner .service .service_tab_wrap .tab_contents .content {
  display: none;
  margin: 24px 0;
}
.contaniner .service .service_tab_wrap .tab_contents .content.active {
  display: block;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-white);
  border-bottom: 1px solid var(--border-color);
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li:last-child {
  border-bottom: none;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li .table_bold {
  color: var(--color-table);
  background-color: var(--bg-color-table-gray);
  padding: 32px 18px;
  width: 40%;
  text-align: left;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li .table_bold p {
  font-weight: 500;
  line-height: 24px;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li .table_nomal {
  text-align: right;
  padding: 0px 18px;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li .table_nomal p {
  font-weight: 300;
  line-height: 24px;
}
.contaniner .service .service_tab_wrap .tab_contents .content ul li .table_nomal p .warning {
  color: var(--color-warning);
  font-weight: 500;
}
.contaniner .ad_banner {
  width: 100%;
  background-color: var(--bg-color-blue);
}
.contaniner .ad_banner #inner {
  padding: 0 24px;
}
.contaniner .ad_banner #inner .ad_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.contaniner .ad_banner #inner .ad_desc p {
  font-weight: 500;
  font-size: 15px;
  color: var(--color-white);
  text-align: right;
  line-height: 24px;
}
.contaniner .ad_banner #inner .ad_desc p:last-child {
  font-size: 20px;
}
.contaniner .story {
  padding: 60px 0;
}
.contaniner .story .section_text_wrap .keyword_bage {
  display: inline-block;
  line-height: 38px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 50px;
  margin-bottom: 14px;
}
.contaniner .story .section_text_wrap .section_title {
  margin-bottom: 8px;
  font-size: 30px;
  padding: 0 12px;
}
.contaniner .story .section_text_wrap .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.contaniner .story .section_text_wrap .section_title p:last-child {
  font-weight: 700;
}
.contaniner .story .story_container {
  padding: 36px 12px;
}
.contaniner .story .story_container .story_desc {
  display: block;
  padding: 18px;
  background-color: var(--bg-color-default);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
}
.contaniner .story .story_container .mb-12 {
  margin-bottom: 12px;
}
.contaniner .story .story_container .about_section {
  padding-top: 48px;
}
.contaniner .story .story_container .about_section .section_title {
  line-height: 32px;
  font-size: 30px;
  padding: 0 12px 24px 12px;
}
.contaniner .story .story_container .about_section .section_title p {
  letter-spacing: -1.5px;
  font-weight: 100;
  margin-bottom: 8px;
}
.contaniner .story .story_container .about_section .section_title p:last-child {
  font-weight: 700;
}
.contaniner .story .story_container .about_list .boram {
  margin-bottom: 24px;
}
.contaniner .story .story_container .about_list .about_desc {
  text-align: left;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: var(--color-gray);
}
.contaniner .story .story_container .about_list .about_desc p {
  word-break: break-all;
}
.contaniner .story .story_container .about_list .about_desc .t_color {
  font-weight: 700;
}
.contaniner .story .story_container .about_list .about_desc .about_desc_title {
  color: var(--color-default);
  padding: 12px 0;
  line-height: 34px;
}
.contaniner .story .story_container .about_list .about_desc .about_desc_title p {
  font-size: 20px;
  font-weight: 100;
}
.contaniner .story .story_container .about_list .about_desc .about_desc_title h4 {
  font-weight: 700;
  font-size: 28px;
}
.contaniner .story .story_container .about_list .about_desc .about_desc_sub_title {
  letter-spacing: -0.5px;
  padding: 12px 0 6px 0;
}
.contaniner .story .story_container .about_list .about_desc .about_desc_sub_title h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-default);
}/*# sourceMappingURL=style.css.map */