/*텍스트 컬러 관련 클래스 */
.keyword_bage {
  background-color: var(--bg-color-blue);
  p {
    color: var(--color-white);
  }
}
.section_title {
  font-size: 38px;
}
.t_color {
  color: var(--color-point);
}
#wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#inner {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.intro {
  position: relative;
  background-color: var(--bg-color-inter);
  width: 100%;
  height: 580px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(/img/intro_bg.png);
    opacity: 0.1;
    width: 100%;
    height: 580px;
  }
  #inner {
    padding-top: 80px;
  }
  .left_icon {
    position: absolute;
    left: -18px;
    top: 0;
    width: 100px;
  }
  .intro_title {
    color: var(--color-white);
    position: relative;
    z-index: 1;
    span {
      display: block;
      margin-bottom: 8px;
      p {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -1.5px;
      }
    }
    h1 {
      font-size: 74px;
      line-height: 80px;
      font-weight: 900;
      letter-spacing: -2px;
      text-shadow: 4px 10px 14px rgba(0, 0, 0, 0.15);
    }
    .intro_sub_title {
      padding: 14px 0;
      line-height: 24px;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .right_icon {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 120px;
  }

  .scroll_event {
    position: relative;
    z-index: 1;
    margin-top: 4px;
    .scroll_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: absolute;
        width: 20px;
        height: 2px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
        &:first-child {
          animation: move 3s ease-out 1s infinite;
        }
        &:nth-child(2) {
          animation: move 3s ease-out 2s infinite;
        }
        &:before,
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;
          background: #fff;
        }

        &:before {
          left: 0;
          transform: skew(0deg, 38deg);
        }

        &:after {
          right: 0;
          width: 50%;
          transform: skew(0deg, -38deg);
        }
        @keyframes move {
          25% {
            opacity: 1;
          }
          33% {
            opacity: 1;
            transform: translateY(34px);
          }
          67% {
            opacity: 1;
            transform: translateY(48px);
          }
          100% {
            opacity: 0;
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
          }
        }
      }
    }
    p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 68px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.contaniner {
  background-color: #fbfbfb;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: relative;
  margin-top: -10vh;
  #inner {
    max-width: 1024px;
  }
  .point_list {
    padding: 18px;
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      li {
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--bg-color-white);
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 20px;
        color: var(--color);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01), 0 2px 4px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.01),
          0 8px 16px rgba(0, 0, 0, 0.01), 0 16px 32px rgba(0, 0, 0, 0.01), 0 32px 64px rgba(0, 0, 0, 0.01);
        span {
          font-size: 20px;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: -0.25px;
          display: block;
          text-align: left;
        }
        p {
          color: var(--color-gray);
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          margin-top: 8px;
          span {
            font-size: 15px;
            font-weight: 500;
            margin-top: 6px;
          }
        }
      }
    }
  }
  .limousine {
    padding-top: 48px;
    .keyword_bage {
      display: inline-block;
      line-height: 38px;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 50px;
      margin-bottom: 14px;
      font-weight: 500;
      p {
        font-weight: 500;
        letter-spacing: -0.25px;
      }
    }
    .section_title {
      display: flex;
      column-gap: 4px;
      justify-content: center;
      margin-bottom: 8px;
      p {
        letter-spacing: -1.25px;
        font-weight: 100;
        &:last-child {
          font-weight: 700;
        }
      }
    }
    .section_desc {
      line-height: 22px;
      p {
        font-size: 16px;
      }
      .t_color {
        font-weight: 700;
      }
    }
    .section_img_box {
      margin-top: 32px;
      padding: 0 22px;
      .section_img_desc {
        padding: 12px 0;
        span {
          display: block;
          text-align: left;
          margin-bottom: 8px;
          letter-spacing: -0.25px;
          p {
            font-size: 26px;
            line-height: 34px;
            font-weight: 300;
            &:last-child {
              font-weight: 700;
            }
          }
          &:last-child {
            text-align: left;
            p {
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: var(--color-gray);
            }
          }
        }
      }
    }
  }
  .service {
    padding-top: 48px;
    .keyword_bage {
      display: inline-block;
      line-height: 38px;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 50px;
      margin-bottom: 14px;
      font-weight: 500;
      p {
        font-weight: 500;
        letter-spacing: -0.25px;
      }
    }
    .section_title {
      margin-bottom: 8px;
      font-size: 30px;
      p {
        letter-spacing: -1.5px;
        font-weight: 100;
        margin-bottom: 8px;
        &:last-child {
          font-weight: 700;
        }
      }
    }
    .service_tab_wrap {
      .tabs {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        margin: 24px 0;
        .tab-button {
          display: inline-block;
          padding: 10px 0;
          cursor: pointer;
          position: relative;
          background: none;
          border: none;
          outline: none;
          font-size: 15px;
          color: var(--color-gray);
          font-weight: 500;
          &::after {
            content: "";
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: var(--bg-color-default);
            height: 2px;
            position: absolute;
            display: none;
          }
          &.active {
            font-weight: 700;
            color: var(--color-default);
            &::after {
              display: block;
            }
          }
        }
      }
      .tab_contents {
        padding: 0 12px;
        .content {
          display: none;
          margin: 24px 0;
          &.active {
            display: block;
          }
          ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            border-top: 1px solid var(--border-color);
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border-bottom: 1px solid var(--border-color);
              font-size: 15px;
              &:last-child {
                border-bottom: none;
              }
              .table_bold {
                color: var(--color-table);
                background-color: var(--bg-color-table-gray);
                width: 35%;
                text-align: left;
                padding: 24px 18px;
                height: 100%;
                p {
                  font-weight: 700;
                  line-height: 24px;
                }
              }
              .table_nomal {
                text-align: left;
                width: 65%;
                padding: 24px 14px;
                background-color: var(--bg-color-white);
                word-break: break-all;
                p {
                  font-weight: 500;
                  line-height: 24px;
                  .warning {
                    color: var(--color-warning);
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ad_banner {
    width: 100%;
    background-color: var(--bg-color-blue);
    #inner {
      padding: 0 12px;
      .ad_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
      }
      .ad_desc {
        p {
          font-weight: 500;
          font-size: 15px;
          color: var(--color-white);
          text-align: right;
          line-height: 18px;
          &:last-child {
            font-size: 24px;
            font-weight: 700;
            margin-top: 6px;
          }
        }
      }
    }
    &.text-center {
      #inner {
        padding: 0 12px;
        .ad_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .ad_desc {
          padding: 24px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          p {
            font-weight: 500;
            font-size: 16px;
            color: var(--color-white);
            text-align: center;
            &:last-child {
              font-size: 16px;
              font-weight: 700;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
  .story {
    padding: 60px 0 24px 0;
    .section_text_wrap {
      .keyword_bage {
        display: inline-block;
        line-height: 38px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 50px;
        margin-bottom: 14px;
        font-weight: 500;
      }
      .section_title {
        margin-bottom: 8px;
        font-size: 30px;
        padding: 0 12px;
        p {
          letter-spacing: -1.5px;
          font-weight: 100;
          margin-bottom: 8px;
          &:last-child {
            font-weight: 700;
          }
        }
      }
    }
    .story_container {
      padding: 36px 12px;
      .story_desc {
        display: block;
        padding: 18px;
        background-color: var(--bg-color-default);
        color: var(--color-white);
        font-size: 15px;
        font-weight: 500;
      }
      .mb-12 {
        margin-bottom: 12px;
      }
      .about_section {
        padding-top: 48px;
        .section_title {
          line-height: 32px;
          font-size: 30px;
          padding: 0 12px 24px 12px;
          p {
            letter-spacing: -1.5px;
            font-weight: 100;
            margin-bottom: 8px;
            &:last-child {
              font-weight: 700;
            }
          }
        }
      }
      .about_list {
        .boram {
          margin-bottom: 24px;
        }
        .about_desc {
          text-align: left;
          font-weight: 500;
          font-size: 16px;
          color: var(--color-gray);
          p {
            word-break: break-all;
            letter-spacing: -0.5px;
            line-height: 24px;
          }
          .t_color {
            font-weight: 700;
          }
          .about_desc_title {
            color: var(--color-default);
            padding: 12px 0;
            line-height: 40px;
            p {
              font-size: 20px;
              font-weight: 100;
            }
            h4 {
              font-weight: 700;
              font-size: 28px;
            }
          }
          .about_desc_sub_title {
            letter-spacing: -0.5px;
            padding: 12px 0 8px 0;
            h4 {
              font-size: 20px;
              font-weight: 700;
              color: var(--color-default);
            }
          }
        }
      }
      .history {
        text-align: left;
        li {
          line-height: 24px;
          padding: 24px 0;
          border-top: 1px solid var(--border-color);
          &:last-child {
            border-bottom: 1px solid var(--border-color);
          }
          h4 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 4px;
          }
          p {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -0.5px;
          }
          .sub_company {
            padding-top: 18px;
            span {
              font-weight: 700;
              margin-bottom: 4px;
              display: block;
              font-size: 16px;
            }
            p {
              color: var(--color-gray);
              font-weight: 500;
              line-height: 22px;
              letter-spacing: -0.5px;
              font-size: 16px;
            }
          }
          .car_list {
            ul {
              li {
                border: none;
                padding: 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                color: var(--color-gray);
              }
            }
          }
        }
      }
    }
  }
  .premium {
    .section_text_wrap {
      .keyword_bage {
        display: inline-block;
        line-height: 38px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 50px;
        margin-bottom: 14px;
        font-weight: 500;
      }
      .section_title {
        margin-bottom: 8px;
        font-size: 30px;
        padding: 0 12px;
        p {
          letter-spacing: -1.5px;
          font-weight: 100;
          margin-bottom: 8px;
          &:last-child {
            font-weight: 700;
          }
        }
      }
    }
    .premium_item_list {
      padding: 0 12px;
      ul {
        padding: 24px 0;
        li {
          margin-bottom: 16px;
          img {
            height: 220px;
          }
          .item_desc {
            text-align: left;
            padding: 12px 0;
            letter-spacing: -0.5px;
            h4 {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 8px;
            }
            p {
              line-height: 20px;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .funeral_list {
    padding: 60px 0 48px 0;
    .section_text_wrap {
      .keyword_bage {
        display: inline-block;
        line-height: 38px;
        padding: 0 20px;
        font-size: 14px;
        border-radius: 50px;
        margin-bottom: 14px;
        font-weight: 500;
      }
      .section_title {
        margin-bottom: 8px;
        font-size: 30px;
        padding: 0 12px;
        p {
          letter-spacing: -1.5px;
          font-weight: 100;
          margin-bottom: 8px;
          &:last-child {
            font-weight: 700;
          }
        }
      }
      .section_desc {
        line-height: 22px;
        p {
          font-size: 16px;
        }
        .t_color {
          font-weight: 700;
        }
      }
    }
    .list_tab_button {
      max-width: 1024px;
      margin: 0 auto;
      background-color: var(--bg-color-table-gray);
      ul {
        display: flex;
        overflow-x: scroll;
        margin: 24px 0 0 0;
        padding: 0 24px 0 12px;
        li {
          width: calc(100%);
          padding: 24px 12px;
          font-weight: 500;
          text-align: left;
          letter-spacing: -0.5px;
          white-space: nowrap;
          font-size: 15px;
          color: var(--color-table);
        }
      }
    }
    .item_list {
      max-width: 1024px;
      margin: 0 auto;
      padding: 24px;
      .item {
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
        .item_desc {
          text-align: left;
          display: flex;
          justify-content: space-between;
          .number_icon {
            background-color: var(--bg-color-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 4px;
            padding: 10px;
            border-radius: 6px;
            color: var(--color-white);
            font-size: 15px;
            font-weight: 500;
          }
          span {
            line-height: 30px;
            margin-bottom: 20px;
            display: block;
            h4 {
              font-weight: 700;
              font-size: 20px;
              margin-bottom: 4px;
            }
            p {
              color: var(--color-gray);
              display: flex;
              align-items: center;
              column-gap: 4px;
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
        ul {
          display: flex;
          overflow-x: scroll;
          margin-top: 0;
          flex-wrap: nowrap;
          li {
            padding: 0;
            width: calc(100%);
            img {
              width: 100%;
              min-width: 380px;
              height: 280px;
            }
          }
        }
        .number_wrap {
          background-color: var(--bg-color-blue);
          padding: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 12px;
          .number_icon {
            background-color: var(--bg-color-white);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .number {
            display: flex;
            column-gap: 4px;
            padding: 8px 0;
            font-size: 20px;
            p {
              font-size: 16px;
              font-weight: 500;
              color: var(--color-white);
            }
          }
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
        li {
          width: calc(100%);
          padding: 18px 24px;
          line-height: 20px;
          font-weight: 500;
          text-align: left;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}
