* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
li,
ol {
  list-style: none;
}
img {
  width: 100%;
  vertical-align: top;
}

.wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
